<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.everymomentholy">

    <uses-sdk
        android:targetSdkVersion="33"
        tools:overrideLibrary="com.example.lib1, com.example.lib2" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCOUNT_MANAGER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".EMHApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EveryMomentHoly"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity"
        tools:replace="android:allowBackup">
        <activity
            android:name="com.everymomentholy.ui.activity.InAppSubscriptionActivity"
            android:exported="true">
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.everymomentholy.ui.activity.SubscriptionPlanListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation"
            tools:ignore="MissingClass">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="EMH channel" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlyticsEnabled}" />

        <activity
            android:name="com.everymomentholy.ui.activity.OrderHistoryActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.everymomentholy.ui.activity.PlayAudioActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.everymomentholy.ui.activity.LiturgiesListDialogActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.everymomentholy.ui.activity.PrivacyPolicyActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.everymomentholy.ui.activity.LiturgiesListActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.everymomentholy.ui.activity.FavLiturgyListActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.everymomentholy.ui.activity.CollectionListActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.everymomentholy.ui.activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.everymomentholy.ui.activity.SelectOptionActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.everymomentholy.ui.activity.RegisterActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.everymomentholy.ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.everymomentholy.ui.activity.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.everymomentholy.ui.activity.ResetPasswordActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" /> <!-- <activity android:name=".ui.activity.HomeActivity" /> -->
        <activity
            android:name="com.everymomentholy.ui.activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.everymomentholy.ui.activity.ChangePasswordActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.everymomentholy.ui.activity.ContactUsActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.everymomentholy.ui.activity.NotificationListActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.everymomentholy.ui.activity.NotificationDetailActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.everymomentholy.ui.activity.EditProfileActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.everymomentholy.ui.activity.MySubscriptionStatus"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>

        <service
            android:name="com.everymomentholy.services.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>